:root {
--color-primary: #2e9de7;
--color-secondary: #181819;
--color-primary2: #d7dbdd;
--color-primary-alt: #ff014dd9;
--color-primary-2nd: #FF494A;
--color-primary-3rd: #FDC448;
--color-primary-4th: #0071ff;
--color-white: #ffffff;
--color-gray: #212121;
--color-gray-2: #141414;
--color-subtitle: #f9004d;
--background-color-1: #000000fe;
--background-color-2: #13131d;
--background-color-3: #151521;
--background-color-4: #242435;
--background-color-5: #04070c;
--color-card: #1b1b1c;
--gradient-one: linear-gradient(to right bottom, #E42032, #1273EB);
--gradient-two: linear-gradient(to right, #ED145B, #4A11EB);
--gradient-three: linear-gradient(to right, #03041c, #0612b3);
--text-gradient-one: linear-gradient(to right, #E42032, #4A11EB);
--color-heading: #ffffff;
--color-body: #9f9f9f;
--color-dark: #1d1d1d;
--color-text-1: #DEDEDE;
--color-light-heading: #181c32;
--color-light-body: #65676b;
--color-border-white: #00000024;
--color-midgray: #878787;
--color-light: #E4E6EA;
--color-lighter: #CED0D4;
--color-lightest: #F0F2F5;
--color-border: #ffffff14;
--color-white: #ffffff;
--color-white-75: rgba(255, 255, 255, 0.75);
--color-success: #3EB75E;
--color-danger: #FF0003;
--color-warning: #FF8F3C;
--color-info: #1BA2DB;
--color-facebook: #3B5997;
--color-twitter: #1BA1F2;
--color-youtube: #ED4141;
--color-linkedin: #0077B5;
--color-pinterest: #E60022;
--color-instagram: #C231A1;
--color-vimeo: #00ADEF;
--color-twitch: #6441A3;
--color-discord: #7289da;
--font-primary: "Rajdhani", sans-serif;
--font-secondary: "Rubik", sans-serif;
--font-three: "fontawesome";
--p-light: 300;
--p-regular: 400;
--p-medium: 500;
--p-semi-bold: 600;
--p-bold: 700;
--p-extra-bold: 800;
--p-black: 900;
--s-light: 300;
--s-regular: 400;
--s-medium: 500;
--s-semi-bold: 600;
--s-bold: 700;
--s-extra-bold: 800;
--s-black: 900;
--border-width: 2px;
--radius: 4px;
--transition: all 0.4s ease-in-out;
--font-size-b1: 16px;
--font-size-b2: 18px;
--font-size-b3: 22px;
--line-height-b1: 1.75;
--line-height-b2: 1.6;
--line-height-b3: 1.7;
--h1: 60px;
--h2: 36px;
--h3: 27px;
--h4: 24px;
--h5: 20px;
--h6: 18px;
--bs-blue: #0d6efd;
--bs-indigo: #6610f2;
--bs-purple: #6f42c1;
--bs-pink: #d63384;
--bs-red: #dc3545;
--bs-orange: #fd7e14;
--bs-yellow: #ffc107;
--bs-green: #198754;
--bs-teal: #20c997;
--bs-cyan: #0dcaf0;
--bs-white: #fff;
--bs-gray: #6c757d;
--bs-gray-dark: #343a40;
--bs-primary: #0d6efd;
--bs-secondary: #6c757d;
--bs-success: #198754;
--bs-info: #0dcaf0;
--bs-warning: #ffc107;
--bs-danger: #dc3545;
--bs-light: #f8f9fa;
--bs-dark: #212529;
--bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}