@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #ff014f;
  --color-primary2: #de0e4c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* globals.css or any CSS file included in _app.js */

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

@keyframes close {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.animate-typing {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 1s steps(40, end) forwards,
    blink-cursor 1s step-end infinite;
}

.animate-close {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  animation: close 1s steps(40, end) forwards;
}

/* Glow Effect to Glow Card */
.hover-glow {
  position: relative;
  overflow: hidden;
}

.hover-glow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    var(--color-primary),
    transparent 40%
  );
  border-radius: inherit;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;

  z-index: 1;
}

.hover-glow:hover::before {
  opacity: 1;
}

/* Ensure the inner content is above the glow */
.hover-glow > div {
  position: relative;
  z-index: 2;
}

/* Glow Effect to Glow Card */
.hover-card {
  position: relative;
  overflow: hidden;
}

.hover-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    350px circle at var(--mouse-x) var(--mouse-y),
    var(--color-primary),
    transparent 40%
  );
  border-radius: inherit;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;

  z-index: 1;
}

.hover-card:hover::before {
  opacity: 1;
}

/* Ensure the inner content is above the glow */
.hover-card > div {
  position: relative;
  z-index: 2;
}

/* button return to top */
.button-return {
  z-index: 100;
}
